---
import { Picture } from 'astro:assets'
import type { ImageMetadata } from 'astro'
interface Props {
  headline?: string | undefined
  sideImage?: ImageMetadata | undefined
  right?: boolean | undefined
  markdown?: boolean | undefined
  wider?: boolean | undefined
  id?: string | undefined
  bg?: 'primary' | 'secondary' | 'primary-dark' | undefined
  class?: string | undefined
  pictureclass?: string | undefined
  alignContent?: 'start' | 'end' | undefined
}

const { headline, markdown, bg, sideImage, right, id, wider, alignContent, pictureclass = '' } = Astro.props
---

<section
  class="content"
  class:list={[bg, { withSide: !!sideImage, right, wider, markdown }, alignContent, Astro.props.class]}
  id={id}
>
  {
    !sideImage && (
      <>
        {headline && <h2>{headline}</h2>}
        <slot />
        {Astro.slots.has('actions') && (
          <div class="content__actions">
            <slot name="actions" />
          </div>
        )}
      </>
    )
  }
  {
    !!sideImage && (
      <>
        <Picture
          src={sideImage}
          class:list={[pictureclass]}
          formats={['avif', 'webp']}
          fallbackFormat="jpg"
          alt=""
          widths={[400, 800, 1200]}
        />
        <div class="content__side_container">
          {headline && <h2>{headline}</h2>}
          <slot />
          {Astro.slots.has('actions') && (
            <div class="content__actions">
              <slot name="actions" />
            </div>
          )}
        </div>
      </>
    )
  }
</section>

<style lang="scss" is:global>
  @use 'sass:math';
  @use '../../styles/text-styles';
  @use '../../styles/charter';

  .content {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: charter.$primary800;
    background: charter.$neutrals100;
    position: relative;

    @media (max-width: 600px) {
      padding: 20px 16px;
    }

    > astro-island {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 32px;
      gap: 16px;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: stretch;
        align-self: stretch;
      }
    }

    // Side image stuff

    &.withSide {
      flex-direction: row;
      gap: 92px;

      > * {
        max-width: math.div(1100px - 92px, 2);
      }

      &.right {
        flex-direction: row-reverse;
      }

      @media (max-width: 600px) {
        > picture {
          display: none;
        }
      }
    }

    // Alignment stuff

    &:not(.withSide),
    & > .content__side_container {
      > p,
      > h2 {
        text-align: center;
      }
    }

    &.start,
    &.withSide {
      &:not(.withSide),
      & > .content__side_container {
        > p,
        > h2 {
          text-align: left;
        }
      }

      .content__actions {
        justify-content: flex-start;
      }
    }

    @media (max-width: 600px) {
      &,
      & > .content__side_container {
        > h2 {
          font-size: 24px !important;
          text-align: center !important;
        }
      }
    }

    > * {
      max-width: 800px;
      width: 100%;
    }

    &.wider > * {
      max-width: 1200px;
    }

    > .content__side_container {
      flex: 1;
    }

    > picture {
      flex: 1;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }
      pointer-events: none;
      position: relative;
      width: 50%;
    }

    &,
    & > .content__side_container {
      > h2 {
        @include text-styles.heading2;
        margin-bottom: 16px;
        white-space-collapse: preserve-breaks;
      }

      > p {
        @include text-styles.paragraphMediumRegular;
        text-align: center;
        color: charter.$primary800;

        a:not(.button) {
          color: charter.$primary800;
        }

        & + p {
          margin-top: 32px;
        }
      }
    }

    // Colors

    &.secondary {
      background: charter.$secondary50;
    }

    &.primary {
      background: charter.$primary50;

      .button {
        color: charter.$neutrals100;
        background: charter.$primary500;
        border-color: charter.$primary500;

        &.outline {
          background: charter.$neutrals100;
          color: charter.$primary500;
        }
      }
    }

    &.primary-dark {
      background: charter.$primary600;
      color: charter.$primary50;

      > p {
        color: charter.$primary50;
      }
    }

    &.markdown {
      h1 {
        @include text-styles.heading2;
        margin-bottom: 16px;
        white-space-collapse: preserve-breaks;
        text-align: left;
      }

      * + h1 {
        margin-top: 50px;
      }
    }
  }
</style>
