---
import Logo from '../../assets/logo.svg'

function ariaCurrent(routePattern: string) {
  return Astro.routePattern === routePattern ? 'page' : undefined
}
---

<nav id="header">
  <a id="header_logo" href="/"><Logo height={48} width="" /></a>
  <nav id="header_links">
    <a href="/" aria-current={ariaCurrent('/')}>Home</a>
    <a href="/attend" aria-current={ariaCurrent('/attend')}>Attend</a>
    <a href="/venue" aria-current={ariaCurrent('/venue')}>Venue</a>
    <a href="/about" aria-current={ariaCurrent('/about')}>About</a>
    <a href="/staff-volunteering" aria-current={ariaCurrent('/staff-volunteering')}>Staff & Volunteering</a>
    <a href="/contact" aria-current={ariaCurrent('/contact')}>Contact</a>
  </nav>
</nav>
{
  /*
<div class="registration_banner">
  <div class="registration_banner_text">Flüüfff starts in…</div>
  <Countdown targetDate="2025-11-05T08:00:00Z" client:load />
</div>
*/
}
<style is:global lang="scss">
  @use '../../styles/charter';
  @use '../../styles/text-styles';

  .registration_banner {
    display: flex;
    padding: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: charter.$accent1-600;

    &.dark {
      padding: 20px;
      background: charter.$primary700;

      .registration_banner_text {
        font-size: 20px;
        line-height: 24px;
      }
    }

    #registration_banner_countdown {
      display: flex;
      flex-direction: row;
      gap: 2px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 2em;
      }
    }

    #registration_banner_countdown .label {
      color: charter.$accent1-300;
      font-family: var(--font-inter), sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 12px;
    }

    .registration_banner_text,
    #registration_banner_countdown {
      color: charter.$neutrals100;
      font-family: var(--font-atari), sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 125% */
      text-transform: uppercase;
    }
  }

  #header {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
    background: charter.$primary100;

    #header_logo svg {
      fill: charter.$primary700;
    }

    &_links {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: -16px 0;

      a {
        color: charter.$primary600;
        @include text-styles.display3Regular;
        text-align: center;

        &:not(.button) {
          padding: 18px 12px;
        }

        &:not(.button):hover {
          text-decoration: underline;
        }

        &[aria-current='page'] {
          font-weight: 700;
        }

        &.button {
          background: charter.$primary600;
          border: 0;
          color: charter.$primary100 !important;
          margin-left: 16px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    #header {
      flex-direction: column;
      padding: 12px 24px;

      #header_links {
        margin: -8px 0;
      }
    }

    .registration_banner {
      padding: 16px 24px;
    }
  }

  @media (max-width: 600px) {
    #header {
      padding: 12px 12px 6px;

      position: relative;
      #header_logo {
        align-self: flex-start;
        svg {
          height: 36px;
        }
      }

      #header_links {
        margin: 8px 0 0;
        border-top: solid 1px charter.$primary200;
        flex-wrap: wrap;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        row-gap: 4px;
        a:not(.button) {
          padding: 12px;
        }
      }

      .button {
        position: absolute;
        right: 24px;
        top: 12px;
        padding: 8px 12px;
      }
    }

    .registration_banner {
      flex-direction: column;
      padding: 16px 12px;
      gap: 8px;

      .registration_banner_text {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }

      #registration_banner_countdown {
        font-size: 24px;
        line-height: 28px;

        .time {
          font-size: 24px;
          line-height: 28px;
        }

        .label {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
  }
</style>
