---
import Logo from '../../assets/logo.svg'
import Countdown from '../countdown.vue'
import { start_registration, start_con } from '../../data/reg/dates.json'
import Timed from '../Timed.astro'
import Button from '../Button.astro'
import LucideChevronDown from '~icons/lucide/chevron-down'

function isCurrent(...routePattern: string[]) {
  return routePattern.find((p) => p === Astro.routePattern)
}
---

<header
  class="z-10 flex flex-col md:flex-row flex-wrap px-8 py-6 text-primary-600 bg-primary-100 gap-4 justify-center items-center"
>
  <a id="header_logo" href="/"><Logo height={48} width="" class="fill-primary-700" /></a>
  <nav class="flex flex-1 flex-wrap md:flex-nowrap gap-8 justify-center lg:justify-end no-underline items-center">
    <a href="/" class:list={['my-4', isCurrent('/') && 'font-bold']}>Home</a>
    <div>
      <p class:list={['my-4 flex items-center gap-1', isCurrent('/schedule', '/venue', '/pricing') && 'font-bold']}>
        Attend <LucideChevronDown />
      </p>
      <ul class="p-2 bg-neutrals-50 shadow-md text-nowrap">
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/schedule" class:list={[isCurrent('/schedule') && 'font-bold']}>Program & Events</a>
        </li>
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/venue" class:list={[isCurrent('/venue') && 'font-bold']}>Venue & Location</a>
        </li>
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/pricing" class:list={[isCurrent('/pricing') && 'font-bold']}>Tickets & Pricing</a>
        </li>
      </ul>
    </div>
    <div>
      <p
        class:list={[
          'my-4 flex items-center gap-1',
          isCurrent('/events', '/staff-volunteering', '/dealers-den') && 'font-bold'
        ]}
      >
        Get involved <LucideChevronDown />
      </p>
      <ul class="p-2 bg-neutrals-50 shadow-md text-nowrap">
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/events" class:list={[isCurrent('/events') && 'font-bold']}>Activities & Events</a>
        </li>
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/staff-volunteering" class:list={[isCurrent('/staff-volunteering') && 'font-bold']}
            >Staff & Volunteering</a
          >
        </li>
        <li class="hover:bg-primary-50">
          <a class="p-4" href="/dealers-den" class:list={[isCurrent('/dealers-den') && 'font-bold']}
            >Join the dealer's den</a
          >
        </li>
      </ul>
    </div>
    <a href="/about" class:list={['my-4', isCurrent('/about') && 'font-bold']}>About</a>
    <a href="/contact" class:list={['my-4', isCurrent('/contact') && 'font-bold']}>Contact</a>
    <Timed start={start_registration}>
      <Button label="Register" to="https://registration.fluufff.org" />
      <Button slot="else" label="Create an account" to="https://registration.fluufff.org" />
    </Timed>
  </nav>
</header>
<Timed start={start_registration}>
  <div slot="else" class="registration_banner">
    <div class="registration_banner_text">Registration opens in…</div>
    <Countdown targetDate={start_registration} client:load />
  </div>
  <div class="registration_banner">
    <div class="registration_banner_text">Flüüfff starts in…</div>
    <Countdown targetDate={start_con} client:load />
  </div>
</Timed>
<style lang="scss">
  @use '../../styles/charter';

  header {
    a {
      text-decoration: none;
    }
    // @media (min-width: 900px) {
    & > nav {
      & > div {
        position: relative;
        & > ul {
          position: absolute;
          left: -9001px;
        }
        &:hover > ul {
          left: 0;
        }

        & > ul > li {
          border-bottom: 1px solid charter.$neutrals100;
          &:last-child {
            border-bottom: none;
          }
          & > a {
            display: block;
          }
        }
      }
    }
    // }
  }
</style>
<style is:global lang="scss">
  @use '../../styles/charter';
  @use '../../styles/text-styles';

  .registration_banner {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: charter.$accent1-600;

    &.dark {
      padding: 20px;
      background: charter.$primary700;

      .registration_banner_text {
        font-size: 20px;
        line-height: 24px;
      }
    }

    #registration_banner_countdown {
      display: flex;
      flex-direction: row;
      gap: 2px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 2em;
      }
    }

    #registration_banner_countdown .label {
      color: charter.$accent1-300;
      font-family: var(--font-inter), sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 12px;
    }

    .registration_banner_text,
    #registration_banner_countdown {
      color: charter.$neutrals50;
      font-family: var(--font-atari), sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 125% */
      text-transform: uppercase;
    }
  }

  #header {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
    background: charter.$primary100;

    #header_logo svg {
      fill: charter.$primary700;
    }

    &_links {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: -16px 0;

      a {
        color: charter.$primary600;
        @include text-styles.display3Regular;
        text-align: center;

        &:not(.button) {
          padding: 18px 12px;
        }

        &:not(.button):hover {
          text-decoration: underline;
        }

        &[aria-current='page'] {
          font-weight: 700;
        }

        &.button {
          background: charter.$primary600;
          border: 0;
          color: charter.$primary100 !important;
          margin-left: 16px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    #header {
      flex-direction: column;
      padding: 12px 24px;

      #header_links {
        margin: -8px 0;
      }
    }

    .registration_banner {
      padding: 16px 24px;
    }
  }

  @media (max-width: 600px) {
    #header {
      padding: 12px 12px 6px;

      position: relative;
      #header_logo {
        align-self: flex-start;
        svg {
          height: 36px;
        }
      }

      #header_links {
        margin: 8px 0 0;
        border-top: solid 1px charter.$primary200;
        flex-wrap: wrap;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        row-gap: 4px;
        a:not(.button) {
          padding: 12px;
        }
      }

      .button {
        position: absolute;
        right: 24px;
        top: 12px;
        padding: 8px 12px;
      }
    }

    .registration_banner {
      flex-direction: column;
      padding: 16px 12px;
      gap: 8px;

      .registration_banner_text {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }

      #registration_banner_countdown {
        font-size: 24px;
        line-height: 28px;

        .time {
          font-size: 24px;
          line-height: 28px;
        }

        .label {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
  }
</style>
