---
import Base from '../layouts/Base.astro'
import Hero from '../components/sections/Hero.astro'

import heroImage from '../assets/images/hero/contact.jpg'
import Socials from '../content/socials.astro'
---

<Base>
  <Hero headline="Get in touch" image={heroImage} alignImage="left">
    <p>We'd love to hear from you.</p>

    <p>
      Feel free to shoot us an email at <a href="mailto:contact@fluufff.org">contact@fluufff.org</a>, and our team will
      get back to you as soon as they return from exploring the woods.
    </p>
  </Hero>
  <Socials />
</Base>
