---
import Base from '../layouts/Base.astro'
import Content from '../components/sections/Content.astro'
import Hero from '../components/sections/Hero.astro'
import Button from '../components/Button.astro'

import heroImage from '../assets/images/hero/welcome.jpg'
import attend from '../assets/images/attend.jpg'

import Program_preview from '../content/program_preview.astro'
import Fun_facts from '../content/fun_facts.astro'
import Highlights from '../content/highlights.astro'
import Socials from '../content/socials.astro'
import Faq from '../content/Faq.astro'
import FaqItem from '../content/FaqItem.astro'
---

<Base>
  <Hero headline="Press start!" image={heroImage} alignImage="right">
    <p>
      This year, when the console boots and the pixels light up, a new world invites you in. Furry heroes, paws at the
      ready, gear up for a colourful adventure where every level is both familiar and fresh. Flüüfff 2026 launches into
      its next edition; this time, in full retro-arcade style.
    </p>
    <p>
      This year, Flüüfff takes place at the <span class="font-bold">Mercure Hotel in Antwerp City South</span> in Belgium
      from the <span class="font-bold">11th to the 15th of November 2026</span>.
    </p>
  </Hero>
  <Content headline="Welcome to Flüüfff!" bg="secondary">
    <p>
      Five days. Infinite side-quests. One massive co-op party.<br />
      Grab your controller (or tail), choose your avatar, and spawn into a world full of colour, laughter, and creative chaos.
      Whether you’re grinding for badges, exploring new maps, or just here for the vibes, every player adds something unique
      to the game. So plug in, <strong>press Start</strong> and let’s play!
    </p>
    <Button slot="actions" label="Learn more about Flüüfff" outline to="/about" go />
  </Content>
  <Program_preview />
  <Content headline="Why attend Flüüfff?" sideImage={attend} bg="primary">
    <p>
      Flüüfff is one of the oldest furry conventions in Belgium, small enough to be cozy and big enough to be fun. It’s
      a place where you can express yourself freely, meet kindred spirits, and celebrate what makes you come alive,
      whether that’s in fur, feathers, or something all your own. No suit required. No experience needed. Just curiosity
      and an open mind.
    </p>
    <Fragment slot="actions">
      <Button label="Contact us" go to="/contact" />
      <Button label="Learn more" outline to="/about" />
    </Fragment>
  </Content>
  <Fun_facts />
  <Highlights />
  <Socials />
  <Faq>
    <FaqItem question="How can I pay for food and drinks at the hotel?">
      You can pay directly at the hotel bar or restaurant. They accept most common payment methods including debit
      cards. Prices are reasonable, and breakfast is included if you have a residential ticket.
    </FaqItem>
    <FaqItem question="Does the hotel have a car park?"
      ><p>
        Yes, the hotel offers on-site indoor parking. Parking costs €22 per day and is subject to availability. Electric
        vehicle charging stations are also available.
      </p>

      <p>We also recommend parking at any of the nearby public parkings that are close to the venue.</p>
    </FaqItem>
    <FaqItem question="I have a food allergy/intolerance. What should I do?">
      Please inform the hotel staff directly if you have food allergies. The restaurant at the Mercure Hotel offers a
      varied buffet and à la carte options, and they are usually able to accommodate dietary needs.
    </FaqItem>
    <FaqItem question="Does the hotel have Wifi?"
      >Yes, the Mercure Hotel offers free WiFi in both rooms and public areas.</FaqItem
    >
    <FaqItem question="What and where to eat?"
      >You can eat at the hotel’s own breakfast bar, Pierre, and restaurant, Brasserie Coubertin, which offer a hearty
      breakfast and yummy local dishes. There are also plenty of restaurants nearby — we’ve listed our favorites on the
      Venue & Location page.
    </FaqItem>
    <FaqItem question="Can I pay in installments?"
      >Yes. For residential bookings (registrations that include a hotel stay), payment in up to three instalments is
      possible under the following conditions:
      <ul>
        <li>A down payment of at least €175 is due within 10 days of completing your registration.</li>
        <li>
          The remaining balance must be paid within 60 days of registration and no later than one month before the start
          of the convention (Sunday, 11 October).
        </li>
      </ul>
    </FaqItem>
    <FaqItem question="Which payment methods do you accept?"
      >Payments for registration are handled online and are via bank transfer only. For hotel or food purchases, local
      card and cash payments are accepted at the venue.
    </FaqItem>
  </Faq>
</Base>
