---
import Base from '../layouts/Base.astro'
import Hero from '../components/sections/Hero.astro'

import heroImage from '../assets/images/hero/volunteering.jpg'
import Socials from '../content/socials.astro'
import Button from '../components/Button.astro'
import Content from '../components/sections/Content.astro'
import JobsTable from '../content/JobsTable.vue'
import { Icon } from 'astro-icon/components'

import volunteerFormImage from '../assets/images/volunteer-form.jpg'
import Faq from '../content/Faq.astro'
import FaqItem from '../content/FaqItem.astro'
import { getCollection } from 'astro:content'

const rolesData = await getCollection('staffRoles')
const rolesList = rolesData
  .map((role) => ({
    title: role.data.title,
    slug: role.data.slug,
    work_model: role.data.work_model,
    open_for_applications: role.data.open_for_applications,
    department_name: role.data.department_name
  }))
  .sort((a, b) =>
    a.department_name === b.department_name
      ? a.title.localeCompare(b.title)
      : a.department_name.localeCompare(b.department_name)
  )
---

<Base>
  <Hero headline="Be you,\n with us" image={heroImage}>
    <p>
      Flüüfff isn't just an event — it's a community built by passionate people like you. From helping out on-site to
      being part of the year-round crew, there are many ways to get involved. Whether you’re curious about volunteering
      or ready to join the team as staff, we’d love to hear from you.
    </p>

    <Fragment slot="actions">
      <Button label="See staff roles" go to="#open_roles" />
      <Button label="Volunteer at Flüüfff" outline to="#volunteer_form" />
    </Fragment>
  </Hero>
  <Content bg="secondary" headline="Open staff roles" wider id="open_roles" alignContent="start">
    <p>Some of our roles are open for applications — check below for what’s currently available.</p>
    <p>
      Don’t see the right fit? You’re also welcome to send a spontaneous application to
      <a href="mailto:hr@fluufff.org">hr@fluufff.org</a> and tell us how you’d like to contribute.
    </p>
    <JobsTable client:visible staffRoles={rolesList}><Icon name="mdi:search" slot="searchIcon" /></JobsTable>
  </Content>
  <Content headline="Volunteer at Flüüfff" sideImage={volunteerFormImage} id="volunteer_form">
    <p>
      Want to lend a paw during the convention? Whether you’re helping set up the stage, taking a shift at the bar, or
      supporting attendees, volunteers are a vital part of the Flüüfff experience.
    </p>
    <p>
      No long-term commitment required — just your time, your presence, and your support before or during the event.
    </p>
    <Button
      slot="actions"
      label="Join us as a volunteer"
      go
      to="https://docs.google.com/forms/d/e/1FAIpQLSfZB6-kxjEnDcpU23bAXtTsv4fC0UfXKZ2D8iIrAnzzoaaTAA/viewform?usp=header"
      newTab
      outline
    />
  </Content>
  <Socials />
  <Faq>
    <FaqItem question="Do I need experience to apply?">
      <p>
        Not necessarily! While some positions may ask for specific skills or experience, many of our roles (especially
        volunteer ones) are open to anyone who's motivated and a good fit for our values. We’ll guide and support you
        through the onboarding process.
      </p>
    </FaqItem>
    <FaqItem question="Can I apply for more than one position?">
      <p>
        Yes, you’re welcome to apply for multiple roles if they interest you. Just be mindful of the time commitment
        listed for each position (especially around the event dates) so you don’t overextend yourself.
      </p>
    </FaqItem>
    <FaqItem question="I'm not sure what role suits me best. Can I still apply?">
      <p>
        Absolutely. You can submit a spontaneous application or apply as a general volunteer by sending an email to
        <a href="mailto:hr@fluufff.org">hr@fluufff.org</a>. We’ll get in touch to explore what might be a good fit based
        on your interests, skills, and availability.
      </p>
    </FaqItem>
    <FaqItem question="Are these positions paid?">
      <p>
        Flüüüfff is run entirely by volunteers. All roles (whether behind the scenes or during the event) are unpaid,
        but offer a chance to be part of something creative, collaborative, and community-driven.
      </p>
    </FaqItem>
    <FaqItem question="Do I need to live in Belgium / attend the event?">
      <p>
        Some roles require on-site presence during the convention, but others (especially in the lead-up) can be done
        remotely. Each job post clearly states whether the role is remote, on-site, or hybrid.
      </p>
    </FaqItem>
    <FaqItem question="What happens after I apply?">
      <p>
        You’ll receive a confirmation email, and your application will be reviewed by the department or HR team. If
        there’s a good fit, we’ll contact you for an informal interview or chat. After that, we’ll let you know if we
        can move forward and begin onboarding.
      </p>
    </FaqItem>
  </Faq>
</Base>
