---
import Base from '../layouts/Base.astro'
import Sidebar from '../layouts/Sidebar.astro'
import Socials from '../content/socials.astro'
import MobileBottomNavbar from '../components/MobileBottomNavbar.astro'
---

<Base>
  <Sidebar style="terms">
    <section>
      <div class="content">
        <h1>Terms and Conditions</h1>
        <p>Last updated: 30/03/2026</p>
        <p>
          Flüüfff is committed to creating a safe, respectful, and welcoming environment for everyone. By attending the
          convention, you agree to follow the rules below. These are here to ensure all attendees, whether it's your
          first con or your fiftieth, can enjoy the experience fully and comfortably.
        </p>
      </div>
      <div class="content">
        <h2>1. Legal Mentions</h2>
        <p>Flüüfff is organized by Flüüfff VZW, a non-profit organization registered under Belgian law.</p>
        <ul>
          <li>Full legal name: Flüüfff VZW</li>
          <li>Legal form: Vereniging zonder winstoogmerk (vzw)</li>
          <li>Company number: 0662.498.716</li>
          <li>Registered office: Gaversesteenweg 188, 9800 Deinze, Belgium</li>
          <li>Email: <a href="mailto:legal@fluufff.org">legal@fluufff.org</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>2. Registration and Payment</h2>
        <p>By registering for Flüüfff, you agree to comply with the Terms and Conditions outlined in this document.</p>
      </div>
      <div class="content">
        <h3>2.1 Registration</h3>
        <ul>
          <li>
            Registrations are personal and non-transferable unless a transfer is approved by the Registration team.
          </li>
          <li>
            All attendees must be at least 18 years old by the first day of the convention. Minors are not allowed to
            register or attend.
          </li>
          <li>
            Attendees are required to present a legal photo ID, driver's license, or passport at check-in. The ID
            details must match the information in our electronic records.
          </li>
          <li>Registrations are subject to approval by the registration staff.</li>
          <li>
            Non-staff attendees registering before the official registration date may be banned from the convention. In
            such cases, the registration team reserves the right to refund yourregistration costs.
          </li>
        </ul>
      </div>
      <div class="content">
        <h3>2.2 Payment Methods</h3>
        <ul>
          <li>
            Tickets must be purchased through the official Flüüfff registration system. Tickets purchased from other
            sources are not valid.
          </li>
          <li>We currently accept payments through bank transfer. No other means of payment are accepted.</li>
          <li>Payments are to be made to the following bank account: <p>FLUUFFF ASBL</p> BE86 7380 4833 7950</li>
        </ul>
      </div>
      <div class="content">
        <h4>Bank Transfer Details</h4>
        <ul>
          <li>
            The first payment for an invoice is due within 10 calendar days after selecting the bank transfer payment
            method.
          </li>
          <li>
            If proof of payment is not received within 10 days, your slot is no longer guaranteed and may be canceled.
          </li>
          <li>For payments over €120, payment in up to 3 installments is permitted, with the following conditions:</li>
          <ul>
            <li>The first installment (minimum €175) must be paid within 10 days.</li>
            <li>
              All installments must be paid within 60 days or at the latest 30 days before the convention, whichever
              comes first.
            </li>
          </ul>
        </ul>
      </div>
      <div class="content">
        <h3>2.3 Confirmation and Account Access</h3>
        <ul>
          <li>A confirmation email will be sent once full payment is received.</li>
          <li>
            You can access your account page at any time to print your confirmation, check payment status, or print
            invoices.
          </li>
        </ul>
      </div>
      <div class="content">
        <h3>2.4 Room Assignment</h3>
        <ul>
          <li>The registration team reserves the right to rebook attendees into different rooms if necessary.</li>
          <li>If the new room price is lower than what was paid, the difference will be refunded.</li>
        </ul>
      </div>
      <div class="content">
        <h3>2.5 Cancellation and Ticket Transfer</h3>
        <h4>Cancellation</h4>
        <ul>
          <li>Tickets (including all fees, extras, and hotel rooms booked through Flüüfff) are not refundable.</li>
        </ul>
      </div>
      <div class="content">
        <h4>Ticket Transfer</h4>
        <ul>
          <li>
            Tickets can be transferred. Both parties must send an email to
            <a href="mailto:support.registration@fluufff.org">support.registration@fluufff.org</a> using the email addresses
            they signed up with, including their registration numbers, and confirm the transfer.
          </li>
          <li>The registration staff will update the database accordingly after the transfer.</li>
          <li>The transfer is only complete when Flüüfff sends a confirmation email to all parties.</li>
          <li>
            Ticket transfers must be cleared by the registration team ahead of time. Anyone not in our database will not
            be admitted under someone else's name.
          </li>
        </ul>
      </div>
      <div class="content">
        <h3>2.6 Event Cancellation</h3>
        <ul>
          <li>
            If the event is canceled, all payments to Flüüfff (ticket, hotel) will be refunded, possibly excluding
            processing fees and organization costs.
          </li>
          <li>
            Other expenses, such as travel costs or expenses not with Flüüfff, will not be refunded under any
            circumstances.
          </li>
        </ul>
      </div>
      <div class="content">
        <h3>2.7 Sponsorship</h3>
        <ul>
          <li>Sponsorship is a voluntary extra donation to support the convention.</li>
          <li>
            Sponsors will be mentioned by name in the conbook, receive a differently styled name badge, and a
            complimentary gift package.
          </li>
        </ul>
      </div>
      <div class="content">
        <h2>3. Intellectual Property and Sales Responsibility</h2>
        <p>
          All vendors, artists, and exhibitors are fully responsible for the content and legality of the items and
          services they offer during Flüüfff.
        </p>
        <p>By participating as a seller (in the Dealer's Den, Artist Alley, or elsewhere), you confirm that:</p>
        <ul>
          <li>You own the rights to all materials you display or sell, or</li>
          <li>You have obtained clear permission or licensing to use them.</li>
          <li>You have read and agree to adhere to the Dealer's Den Code.</li>
        </ul>
        <p>
          The sale of plagiarised, copied, AI-generated, or otherwise infringing works (including unlicensed fan art
          that violates known IP rights) is not permitted.
        </p>
        <p>
          If the Flüüfff team receives a credible complaint or identifies a potential infringement, we reserve the right
          to:
        </p>
        <ul>
          <li>Request clarification or proof of rights from the seller</li>
          <li>Ask that specific items be removed from sale</li>
          <li>Remove the seller’s table or access to the venue without refund, if necessary</li>
        </ul>
        <p>
          Flüüfff is not liable for disputes between artists, sellers, or third parties regarding intellectual property.
          However, we will always act in good faith to maintain a respectful, legal, and community-focused environment.
        </p>
      </div>
      <div class="content">
        <h2>4. Code of Conduct</h2>
        <p>
          Flüüfff is committed to creating a safe, respectful, and welcoming environment for everyone. By attending the
          convention, you agree to follow the rules below. These are here to ensure all attendees, whether it's your
          first con or your fiftieth, can enjoy the experience fully and comfortably.
        </p>
        <p>
          In order to enable such an environment, all attendees agree and adhere to the <a href="/conduct"
            >Code of Conduct</a
          >
          as published on the official Flüüfff website on the first day of the convention.
        </p>
        <p>Thank you for being part of Flüüfff. We look forward to welcoming you!</p>
      </div>
      <MobileBottomNavbar nextHref="/conduct" nextLabel="Code of Conduct" />
    </section>
  </Sidebar>
  <Socials />
</Base>

<style scoped lang="scss">
  @use '../styles/text-styles';
  @use '../styles/charter';

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
  }

  .content {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: charter.$primary800;

    &:first-child {
      padding-top: 80px;
    }

    &:last-child {
      padding-bottom: 80px;
    }

    @media (max-width: 600px) {
      padding: 20px;

      &:first-child {
        padding-top: 40px;
      }

      &:last-child {
        padding-bottom: 40px;
      }
    }

    h1 {
      @include text-styles.heading1;
      margin-bottom: 16px;

      @media (max-width: 600px) {
        @include text-styles.heading3;
      }
    }

    h2 {
      @include text-styles.heading3;

      margin-bottom: 16px;

      @media (max-width: 600px) {
        font-size: 18px;
        line-height: 1.5;
      }
    }

    h3 {
      @include text-styles.heading4;
      margin-bottom: 16px;
    }

    h4 {
      @include text-styles.display4SemiBold;
      margin-bottom: 16px;
    }

    p:not(:last-child),
    ul:not(:last-child) {
      margin-bottom: 16px;
    }

    a {
      color: charter.$primary500;
    }

    ul {
      list-style-type: disc;

      > ul {
        list-style-type: circle;
      }
    }
  }
</style>
