---
import { Picture } from 'astro:assets'

import Base from '../layouts/Base.astro'
import Section from '../components/Section.astro'
import Socials from '../content/socials.astro'
import Faq from '../content/Faq.astro'
import FaqItem from '../content/FaqItem.astro'
import Button from '../components/Button.astro'

import heroImage from '../assets/images/venue/venue.png'

import LucideClock from '~icons/lucide/clock'
import LucideCircleParking from '~icons/lucide/circle-parking'
import LucideUtensils from '~icons/lucide/utensils'
import LucideAccessibility from '~icons/lucide/accessibility'
import LucideWifi from '~icons/lucide/wifi'
import LucideDumbbell from '~icons/lucide/dumbbell'
import LucideCoffee from '~icons/lucide/coffee'
import LucideAirVent from '~icons/lucide/air-vent'
import LucideHandPlatter from '~icons/lucide/hand-platter'
import LucideWine from '~icons/lucide/wine'
import LucideCigaretteOff from '~icons/lucide/cigarette-off'
---

<Base>
  <Section outerClass="bg-secondary-50">
    <Picture
      slot="left"
      class="rounded-lg object-cover object-center"
      src={heroImage}
      formats={['avif', 'webp']}
      fallbackFormat="jpg"
      alt=""
      widths={[400, 800, 1200]}
    />
    <div class="flex flex-col gap-4 justify-center">
      <h2 class="font-atari text-3xl">The venue:<br />Mercure Hotel Antwerp City South</h2>
      <p>
        This year's hotel is the wonderful Bedford Hotel in Brussels — a cozy base just steps away from the city centre,
        the train station, countless eateries, and the vibrant nightlife.
      </p>
      <div class="flex gap-4">
        <Button label="Contact us" outline go to="/contact" />
        <Button label="Learn more" outline to="/about" />
      </div>
    </div>
  </Section>

  <Section>
    <Picture
      slot="right"
      class="rounded-lg object-cover object-center"
      src={heroImage}
      formats={['avif', 'webp']}
      fallbackFormat="jpg"
      alt=""
      widths={[400, 800, 1200]}
    />
    <div class="flex flex-col gap-4 justify-center">
      <h2 class="font-atari text-3xl">Room types and comforts</h2>
      <p>
        Decorated with warm colours and soft textures, all spacious rooms at Mercure Antwerp City South are fitted with
        king-size bedding. They all include a flat-screen TV while some include access to the Executive Lounge.
      </p>
      <p class="flex items-center gap-3"><LucideClock />Check-in from 15:00 - Check-out up to 12:00</p>
      <h3 class="text-xl font-bold uppercase mt-4">Amenities on site include:</h3>
      <div class="grid grid-cols-[auto_1fr_auto_1fr] items-center gap-2">
        <LucideCircleParking /><p>Car park</p>
        <LucideAccessibility /><p>Wheelchair accessible</p>
        <LucideUtensils /><p>Restaurant</p>
        <LucideWifi /><p>WiFi</p>
        <LucideDumbbell /><p>Fitness center</p>
        <LucideCoffee /><p>Breakfast</p>
        <LucideAirVent /><p>Air conditioning</p>
        <LucideHandPlatter /><p>Room service</p>
        <LucideWine /><p>Bar</p>
        <LucideCigaretteOff /><p>100% non smoking property</p>
      </div>
    </div>
  </Section>

  <Socials />
  <Faq>
    <FaqItem question="Can I pay in installments?">
      Installment payment is not officially offered. Tickets must be paid in full at registration unless a specific
      arrangement has been made.
    </FaqItem>
    <FaqItem question="Which payment methods do you accept?">
      Payments for registration are handled online and are via bank transfer only. For hotel or food purchases, local
      card and cash payments are accepted at the venue.
    </FaqItem>
  </Faq>
</Base>
