---
import Button from '../components/Button.astro'
---

<div class="header">
  <div class="header-left">
    <h1>Everything you need to know to join the Fluufff Dealers Den</h1>
    <p>Rules, timelines, registration and tips to get you prepped for the con</p>
  </div>
  <div class="header-right">
    <Button to="https://registration.fluufff.org/register" label="Register for Fluufff" go newTab />
    <Button to="mailto:dealers.den@fluufff.org" label="Email Dealers Den team" outline go />
    <Button to="" label="Join the Dealers Telegram group" outline go newTab />
  </div>
</div>

<style scoped lang="scss">
  @use '../styles/charter.scss';
  @use '../styles/text-styles.scss';

  .header {
    flex: 1;
    display: flex;
    width: 100%;
    margin: 60px;
    margin-bottom: 0;
    padding-bottom: 40px;
    gap: 16px;
    border-bottom: 1px solid charter.$neutrals300;

    @media (max-width: 600px) {
      margin: 20px;
      flex-direction: column;
    }
  }

  .header-left {
    flex: 5;
    color: charter.$primary800;

    h1 {
      @include text-styles.heading2;
      padding-bottom: 16px;

      @media (max-width: 600px) {
        @include text-styles.heading3;
      }
    }
  }

  .header-right {
    flex: 2;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
  }
</style>
