---
import Accordion from '../components/Accordion.vue'
import Content from '../components/sections/Content.astro'
---

<Content headline="Frequently asked questions" bg="primary">
  <p>
    Every great game comes with a guidebook! Here you’ll find answers to the most common questions, from registration
    and badges to what you can expect once you spawn in. Still stuck? Just reach out, our support team is always happy
    to help you find the right cheat code.
  </p>
  <Accordion class="faq_questions" faq client:load>
    <slot />
  </Accordion>
</Content>

<style is:global lang="scss">
  @use '../styles/charter';
  @use '../styles/text-styles';

  .faq_questions {
    counter-reset: question_number;
    max-width: 650px;
    margin-top: 32px;

    .accordion-item__content + .accordion-item__header {
      border-top: solid 1px charter.$accent2-300;
    }

    .accordion-item__header {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 30px 10px;

      @include text-styles.heading4;
      color: charter.$primary800;
      align-items: center;

      svg {
        color: charter.$accent2-600;
      }

      &:before {
        counter-increment: question_number;
        content: counter(question_number, decimal-leading-zero);
        margin-top: -2px;

        @include text-styles.display4SemiBold;
      }
    }

    .accordion-item__content {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      font-family: var(--font-inter), sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }

  @media (max-width: 600px) {
    .faq_questions {
      margin: 32px 0;
    }
  }
</style>
