---
import Button from '../components/Button.astro'
import Accordion from '../components/Accordion.vue'
import AccordionItem from '../components/AccordionItem.astro'
---

<div class="pricing">
  <div class="pricing__prices">
    <div class="pricing__option">
      <h3><span class="badge">Day(s) ticket</span> <span class="price">€45<b>*</b><sub>incl. VAT</sub></span></h3>
      <p>No need for accommodation? Stay for a day, the full event, or the weekend.</p>
      <Button to="https://registration.fluufff.org" label="Get your Day(s) ticket" outline go />
      <h4>What's included?</h4>
      <ul>
        <li>Access to the convention area</li>
        <li>Access to all events on your selected day(s)</li>
      </ul>
      <p class="notes">
        * Day(s) tickets allow access from the first planned event until the end of the last on the selected day(s).
      </p>
    </div>
    <div class="pricing__option">
      <h3><span class="badge">Residential</span> <span class="price">€387<b>**</b><sub>incl. VAT</sub></span></h3>
      <p>Experience the convention in full — sleep, stay, and enjoy at the venue.</p>
      <Button to="https://registration.fluufff.org" label="Get your Residential ticket" go />
      <h4>What's included?</h4>
      <ul>
        <li>Access to the convention area</li>
        <li>Access to all events</li>
        <li>A bed at the Hotel</li>
        <li>Daily breakfast</li>
        <li>Daily room cleaning</li>
      </ul>
    </div>
    <div class="pricing__option">
      <h3><span class="badge">Sponsor pack</span> <span class="price">+ €40<b>**</b><sub>incl. VAT</sub></span></h3>
      <p>Want to help Flüüfff grow for future editions? Become a sponsor!</p>
      <Button to="https://registration.fluufff.org" label="Get your Sponsor pack" outline go />
      <h4>What's included?</h4>
      <ul>
        <li>Everything in your Day(s) or Residential ticket, plus:</li>
        <li>A convention T-shirt</li>
        <li>Custom lanyard</li>
        <li>Extra goodies</li>
        <li>Our eternal gratitude</li>
      </ul>
    </div>
  </div>
  <div class="pricing__details">
    <p class="notes">
      ** The price listed is per person and based on one spot in a shared Double or Twin room. You either pay the full
      room or you join someone else’s room, depending on availability.
    </p>
    <Accordion client:load alwaysOpen>
      <AccordionItem>
        <Fragment slot="header">Booking Conditions</Fragment>
        <ul>
          <li>Double & Twin room prices listed above are per spot in a shared room.</li>
          <li>
            During Registration, you can only book the FULL bedroom, and your roommates only require a Convention
            Ticket.
          </li>
          <li>Choice between Single, Double/Twin, Triple or Quadruple bedrooms.</li>
        </ul>
      </AccordionItem>

      <AccordionItem>
        <Fragment slot="header">Early Arrival and Late Departure</Fragment>
        <p>
          Want to extend your stay? You can book <strong>Early Arrival</strong> (4/11) or
          <strong>Late Departure</strong> (10/11) as add-ons during registration. This gives you a little more time to settle
          in or wind down — perfect if you're traveling far or want to enjoy a quieter arrival.
        </p>
        <p><em>(Details about dates and pricing will be shown in the registration system.)</em></p>
      </AccordionItem>
    </Accordion>
  </div>
</div>

<style lang="scss" is:global>
  @use '../styles/charter';
  @use '../styles/text-styles';
  .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 48px;

    .notes {
      color: charter.$neutrals500;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
    }

    .pricing__details {
      display: grid;
      max-width: 1200px;
      column-gap: 16px;
      grid-template-columns: 1fr 2fr;

      .notes,
      .accordion {
        grid-column: 2;
      }

      .accordion {
        margin-top: 16px;

        .accordion-item__header {
          background: charter.$neutrals300;
          @include text-styles.heading4;
          color: charter.$secondary500;
          padding: 16px;
        }

        .accordion-item__content {
          @include text-styles.paragraphMediumRegular;

          background: charter.$neutrals300;
          padding: 0 16px 16px 16px;
          color: charter.$neutrals700;

          &:not(.active) {
            @media (min-width: 900px) {
              padding: 0;
            }
          }

          & + .accordion-item__header {
            margin-top: 3px;
          }
        }
      }
    }

    .pricing__prices {
      display: grid;
      max-width: 1200px;
      grid-template-columns: repeat(3, 1fr);

      .pricing__option {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;

        & + .pricing__option {
          border-left: solid 1px charter.$secondary200;
        }

        h3 {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-start;
          justify-content: space-between;

          > .badge {
            background: charter.$secondary100;
            @include text-styles.display2SemiBold;
            padding: 5px 8px;
            border-radius: 3px;
          }

          > .price {
            @include text-styles.heading3;
            > b {
              color: charter.$neutrals500;
            }
            > sub {
              display: block;
              @include text-styles.paragraphMediumRegular;
              color: charter.$neutrals600;
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .pricing {
      .pricing__prices {
        display: flex;
        flex-direction: column;

        .pricing__option {
          flex-direction: column;
          > h3 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .badge {
              align-self: stretch;
              text-align: center;
            }
          }

          & + .pricing__option {
            border-top: solid 1px charter.$secondary200;
            border-left: 0;
          }
        }
      }

      .pricing__details {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
