---
import { Icon } from 'astro-icon/components'
---

<div class="socials">
  <div class="socials__container">
    <h2>Join the Flüüfff community!</h2>
    <div class="socials__list">
      <a href="https://t.me/fluufff_announcements" target="_blank" rel="noreferrer"
        ><Icon name="cib:telegram-plane" /></a
      >
      <a href="https://www.facebook.com/fluufff/" target="_blank" rel="noreferrer"><Icon name="mdi:facebook" /></a>
      <a href="https://twitter.com/FluufffCon" target="_blank" rel="noreferrer"><Icon name="mdi:twitter" /></a>
      <a href="https://bsky.app/profile/fluufffcon.bsky.social" target="_blank" rel="noreferrer"
        ><Icon name="ri:bluesky-fill" /></a
      >
      <a href="https://youtube.com/@fluufff" target="_blank" rel="noreferrer"><Icon name="ri:youtube-fill" /></a>
    </div>
  </div>
</div>
<style lang="scss" is:global>
  @use '../styles/charter';
  @use '../styles/text-styles';

  .socials {
    padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
      padding: 20px 16px;
    }

    &__container {
      display: flex;
      max-width: 1400px;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
    }

    background: charter.$accent1-500;

    h2 {
      @include text-styles.heading2;
      margin: 0;
      font-size: 24px;
      line-height: 32px;
      color: charter.$neutrals50;
      text-align: center;

      @media (max-width: 600px) {
        font-size: 14px;
        line-height: 28px;
      }
    }

    .socials__list {
      display: flex;
      flex-direction: row;
      row-gap: 16px;
      column-gap: 35px;
      justify-content: flex-end;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        background: charter.$neutrals50;
        border-radius: 5px;

        [data-icon] {
          font-size: 24px;
          color: charter.$accent1-500;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .socials {
      .socials__container {
        gap: 16px;
        flex-direction: column;
      }

      .socials__list {
        justify-content: center;
      }
    }
  }

  @media (max-width: 450px) {
    .socials__list {
      max-width: 250px;
      flex-wrap: wrap;
    }
  }
</style>
